/********* RESET *********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #412120;
    color: #f7ead1;
}

/********* COMMON *********/

h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
    padding: 0;
}

[v-cloak] {
    display: none;
}

ul li {
    list-style-type: none;
}

header, footer {
    height: 60px;
}

a {
    font-size: 1.1rem;
    color: #f7ead1;
    text-decoration: none;
}

a, button, i {
    cursor: pointer;
}

/********* HEADER*********/
header nav,
header  .icon-ctn,
header  .site-title,
header .bar {
    width: calc(100% / 3);
}

header > .container {
    position: relative;
}

header nav {
    position: absolute;
    top: 60px;
    left: -200%;
    width: 100%;
    z-index: 10;
    transition: left 1s;
}

header nav ul li{
    background-color: brown;
    padding: 5px;
}

header nav ul li:hover {
    background-color: darkred;
    cursor: pointer;
}

.show {
    left: 0;
}


/********* MAIN *********/

main {
    height: calc(100vh - 60px);
}

main .container {
    height: 100%;
    width: 100%;
}

main .left {
    width: 40%;
    margin-top: 15%;
}

.list-group > .ms-li {
    background-color: #412120;
    color: #f7ead1;
    border: 0;
    padding: 10px 3px;
}

.ms-type-bar {
    background-color: #f7ead1;
    color: #412120;
}

.ms-type-bar:focus {
    box-shadow: none;
    background-color: #f7ead1;
    border-color: #f7ead1;
}

.ms-type-btn {
    background-color: burlywood;
    color: #412120;
    border: none;
}

.ms-type-btn:hover {
    background-color: transparent;
    border: 1px solid #f7ead1;
    color: #f7ead1;
}

.taskDone {
    text-decoration: line-through;
}

main ul li span {
    cursor: pointer;
}


/********* MEDIA QUERIES *********/

@media screen and (min-width: 992px) {

    header nav {
        position: static;
        width: auto;
        z-index: 0;
    }
    
    header nav ul li{
        background-color: #412120;
        padding: 0;
    }

}



